@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --satisfy-font: "Satisfy"
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--satisfy-font);
}

.satisfy-regular {
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
}